*

!.gitignore
!project.4coder

!Makefile
!linker.ld
    
!kernel
!kernel/**
    
!libc
!libc/**
    
!cpu
!cpu/**
    
!drivers
!drivers/**

!initrd
!initrd/**

!boot
!boot/**

!isofiles
!isofiles/boot
!isofiles/boot/grub
!isofiles/boot/grub/grub.cfg

!util
!util/**
        
*#*
